/* ==UserStyle==
@name           Flight Rising: Arlo's Plot Focuser
@namespace      userstyles.world/user/meow
@version        1.0.1
@description    Eliminate excess scrolling in Arlo's Ancient Artifacts digsites by bringing a specified plot to the top of the list.
@author         dragonjpg

@advanced text plot1 "Digsite #1" "1"
@advanced text plot2 "Digsite #2" "1"
@advanced text plot3 "Digsite #3" "3"
@advanced text plot4 "Digsite #4" "1"
@advanced text plot5 "Digsite #5" "1"
==/UserStyle== */


@-moz-document url-prefix("https://www1.flightrising.com/trading/archaeology/dig-site/") {
    #archaeology-dig-plots {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        counter-reset: number;
    }
    .archaeology-dig-plot-frame {
        margin: 0 auto 35px auto;
        counter-increment: number;
    }
    .archaeology-dig-plot-frame::before {
        content: counter(number)" ";
        position: absolute;
        top: 17px;
        left: 37px;
        font-size: 18px;
        font-weight: bold;
        font-family: monospace;
        background: linear-gradient(180deg,#d5a24a,#c3853a);
        color: #522104;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 3;
        border-radius: 100%;
        opacity: 0;
        transition: 0.3s opacity;
        box-sizing: border-box;
        border: 3px solid #653b0f;
    }
    .archaeology-dig-plot-frame:hover::before {
        opacity: 1;
    }
    .archaeology-dig-plot-frame[data-layout="4"]::before {
        top: 16px;
        left: 37px;
    }
    .archaeology-dig-plot-frame[data-layout="3"]::before {
        top: 20px;
        left: 30px;
    }
    .archaeology-dig-plot-frame[data-layout="2"]::before {
        top: 17px;
        left: 22px;
    }
    .archaeology-dig-plot-frame[data-layout="1"]::before {
        top: 13px;
        left: 32px;
    }
}
@-moz-document url-prefix("https://www1.flightrising.com/trading/archaeology/dig-site/1") {
    .archaeology-dig-plot-frame:nth-child(/*[[plot1]]*/) {
        order: -1;
    }
}
@-moz-document url-prefix("https://www1.flightrising.com/trading/archaeology/dig-site/2") {
    .archaeology-dig-plot-frame:nth-child(/*[[plot2]]*/) {
        order: -1;
    }
}
@-moz-document url-prefix("https://www1.flightrising.com/trading/archaeology/dig-site/3") {
    .archaeology-dig-plot-frame:nth-child(/*[[plot3]]*/) {
        order: -1;
    }
}
@-moz-document url-prefix("https://www1.flightrising.com/trading/archaeology/dig-site/4") {
    .archaeology-dig-plot-frame:nth-child(/*[[plot4]]*/) {
        order: -1;
    }
}
@-moz-document url-prefix("https://www1.flightrising.com/trading/archaeology/dig-site/5") {
    .archaeology-dig-plot-frame:nth-child(/*[[plot5]]*/) {
        order: -1;
    }
}
